<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.38">
  <actions/>
  <description>Runs the build hook for iRODS core (https://github.com/irods/irods) in a container</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PARAMETER_PLATFORM_TARGET</name>
          <description>OS platform</description>
          <defaultValue></defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PARAMETER_UNIQUE_JOB_ID</name>
          <description>Unique identifier for this job which is distinct from the build ID of this particular Jenkins project. The unique ID can be shared with other Jenkins projects to build a pipeline.</description>
          <defaultValue></defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PARAMETER_SOURCE_DIRECTORY</name>
          <description>Local directory for source code repository clone. REMEMBER: Jenkins is running in a container - check your mounted volumes!</description>
          <defaultValue></defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PARAMETER_EXTERNALS_ROOT_DIRECTORY</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>node {
    def unique_id = PARAMETER_UNIQUE_JOB_ID
    if (!PARAMETER_UNIQUE_JOB_ID) {
        unique_id = env.BUILD_ID
    }

    def source_directory = PARAMETER_SOURCE_DIRECTORY

    def output_directory = env.JENKINS_OUTPUT + &apos;/&apos; + env.JOB_NAME + &apos;/&apos; + unique_id

    def dockerfile_dir = env.GLOBAL_PARAMETER_DOCKER_REPO
    dir(dockerfile_dir) {
        def build_cmd = &apos;python build_irods_on_base_os_image.py&apos; +
                        &apos; --platform_target &apos; + PARAMETER_PLATFORM_TARGET +
                        &apos; --unique_id &apos; + unique_id +
                        &apos; --output_directory &apos; + output_directory
        if (source_directory) {
            build_cmd = build_cmd + &apos; --source_directory &apos; + source_directory
        }
        if (PARAMETER_EXTERNALS_ROOT_DIRECTORY) {
            build_cmd = build_cmd + &apos; --externals_packages_directory &apos; + PARAMETER_EXTERNALS_ROOT_DIRECTORY
        }
        sh build_cmd
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>